.main {
  min-height: 100vh;  // Use min-height to allow content to grow
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 50%;
  margin: 0 auto;
  position: relative;  // Change absolute to relative
  top: 0;
  left: 0;
  transform: none;  // Remove transform to ensure proper position
  border-radius: 3px;
  overflow-y: auto;  // Enable vertical scrolling
  @include respond(largeTablet) {
    height: auto;
    width: 80%;
  }
  @include respond(tablet) {
    height: auto;
    width: 95%;
  }
  @include respond(largePhone) {
    height: auto;
    width: 95%;
  }
}
