.weather-search {

  &__form {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  &__input {
    display: inline-block;
    border: solid 2px transparent;
    background-color: rgba($colour-2, 0.1);
    padding: 0.8rem 1.5rem; /* Slightly adjust padding */
    border-radius: 8px; /* Rounded corners */
    margin-right: 1rem;
    font-size: 1.6rem;
    transition: border-color 0.3s ease-in-out; /* Add smooth transition */

    &:focus {
      outline: none;
      border-color: $colour-2;
    }
  }

  &__submit {
    display: inline-block;
    text-align: center;
    background-color: $colour-2;
    font-size: 2rem;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    
    &:hover {
      background-color: darken($colour-2, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}
